.media-player{
  border:1px solid #333;
  margin-top:10vh;
  background-color: rgba(10,10,10,0.45);
}

.logo-container{
  width:30%;
}
.episode-container {
  max-height: 75vh;
  overflow: auto;
  padding-left:0;
  overflow-x:hidden;
  width:30%;
  .episode {
    padding:20px;
    border:1px solid #777;
  }
}

.now-playing{
  width:70%;
  background-color: rgba(175,175,175,.25);
  padding:20px;
}

.controls{
  position: relative;
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,.2);
}

.play{
  position: absolute;
  width: 40px;
  height: 48px;
  bottom: 10%;
  left: 48%;
  border-style: solid;
  border-width: 24px 0 24px 40px;
  border-color: transparent transparent transparent #eee;
  transform-origin: 50% 50%;
  transition: .25s ease;
  &:hover{
    transform: scale(1.1);
  }
  &.pause{
    border-width: 0 13.5px 0 13.5px;
    border-color: transparent #eee transparent #eee;
    transition: all .25s;
  }
}

.previous{
  position: absolute;
  left: 25%;
  bottom: 8%;
}

.next{
  position: absolute;
  right: 25%;
  bottom: 8%;
}
.next, .previous{
  &:hover{
    transform: scale(1.1);
    transition: .25s ease;
  }
}
